@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    max-width: 1200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin: auto;
}

.logo {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 30px auto;
    padding: 0;
}

.section-title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
}

.btn {
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.login-btn {
    background-color: transparent;
    color: #838383;
}

.register-btn {
    background-color: transparent;
    color: #838383;
}

.add-post-btn {
    background-color: #A6C81E;
    color: white;
    border-radius: 10px;
    width: 189px;
    height: 60px;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.add-post-btn span {
    font-weight: 600;
}

.add-post-icon {
    width: 20px;
    height: 20px;
}

.main-card {
    width: 1200px;
    height: 688px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.inner-card {
    width: 224px;
    height: 216px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.added-date {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(131, 131, 131, 1);
    margin: 0;
    white-space: nowrap;
}

.lab-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: rgba(24, 24, 24, 1);
    margin: 0;
}

.card-btn {
    width: 164px;
    height: 44px;
    border-radius: 10px;
    border: 2px solid rgba(166, 200, 30, 1);
    padding: 12px 16px;
    background: transparent;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(166, 200, 30, 1);
    margin-top: auto;
    text-align: center;
}

.view-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 60px;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    border: 2px solid rgba(166, 200, 30, 1);
    background-color: transparent;
    margin: 40px auto;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: rgba(166, 200, 30, 1);
}

.view-more-icon {
    width: 12px;
    height: 6px;
}

.footer {
    width: 1200px;
    height: 99px;
    margin: 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-email {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: rgba(166, 200, 30, 1);
}

.footer-dev {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: rgba(131, 131, 131, 1);
    text-align: right;
}

@media (max-width: 768px) {
    .header,
    .section-header,
    .main-card,
    .view-more-btn,
    .footer {
        max-width: 688px;
    }

    .header {
        height: 75px;
    }

    .main-card {
        height: auto; /* Auto height to fit content */
    }

    .inner-card {
        width: 216px; /* (688px container - 2 * 20px gap) / 3 cards */
    }

    .inner-card:nth-child(n + 10) {
        display: none;
    }

    .section-title {
        font-size: 40px;
    }

    .view-more-btn {
        height: 60px;
    }

    .footer {
        height: 99px;
    }
}