@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    max-width: 1200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: auto;
}

.logo {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section-title {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 60px;
}

.btn {
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.login-btn {
    background-color: transparent;
    color: #838383;
}

.register-btn {
    background-color: transparent;
    color: #838383;
}